*{
	margin:0;
	padding: 0;
	font-family:sans-serif; 
}
.banner{
	width: 100%;
	height:100vh;
	position: relative;
	overflow: hidden;
}
.slider{

width:100%;
height: 100vh;
position: absolute;
top: 0;
}

/*.overlay{
	margin-top: -10px;
	width: 100%;
	height: 150vh;
	/*background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
	position: absolute;
}*/
.navbar{
	width: 95%;
	display:flex;
	align-items: center;
	margin:65px auto;
	margin-top: 2px;
}
.logo{
flex-basis: 15%;
}
.logo img{
width:120px;
cursor: pointer;
}
.menu-icons{
	display: flex;
	margin-left: 820px;
	flex:4;
	align-items: center;
}
.menu-icons img{
	width: 40px;
	margin-left:120px;
	cursor: pointer;
}
.followus{
	margin left: 480px;
	flex:4;
	align-items: center;
}
.followus img{
	width: 40px;
	margin-left:20px;
	cursor: pointer;
}

.content{
	width: 60%;
	margin:160px auto 0;
	color:#fff; 
}

.content h1 {
	text-align: center;
     font-size: 60px;
     color: white;
}
.content h2{
	text-align: center;
     font-size: 1.5rem;
     color: white;
      font-weight:100;
      line-height: 25px 
}
.content h3{
	text-align: center;
     font-size: 2.5rem;
     color: white;
      font-weight:100;
      line-height: 25px 

}
.content span {
	margin-left: 5rem;
	display: inline-block;
	margin-bottom: .5rem;
}

.form_code {
	text-align: center;
}
	
.form_code button {
	width: 20%;
	text-align: center;
	background-color: #00bab1;
	color: white;
	padding: .8rem;
	margin:2rem auto 2rem;
	border: 2px solid #00bab1;
	border-radius: 25px;
	font-weight: bold;
	cursor: pointer;
	transition background: 0.5s: 
  }

  button:hover{
  	background: transparent;
  	border: 2px solid #fff;

  }

button.btn-2 {
	border: 2px solid #fff;
	background: transparent;
}

button.btn-2:hover{
	border: 2px solid #00bab1;
	background: #00bab1;
}
